<!-- <div ng-include="'views/components/header.html'"></div>
<div ng-include="'views/components/navbar.html'"></div> -->
<div class="columns page-content">
    <div class="column is-1 navigation-wrapper">
      <a ng-href="#!/articles/{{prev}}" ng-if="prev"><img src="assets/img/arrow.png" class="previous" alt="previous post"></a>
    </div>
    <div class="column is-8 is-offset-1 viewed-article-content">
      <h1 class="title">{{article.titre}}</h1>
      <h2 class="subtitle">{{article.created_at | date : 'MM/dd/yyyy'}}
      <div class="content" ng-bind-html="articleContent"></div>
    </div>
    <div class="column is-1  is-offset-1 navigation-wrapper">
      <a ng-href="#!/articles/{{next}}" ng-if="next"><img src="assets/img/arrow.png" class="next" alt="next post"></a>
    </div>
</div>

<!-- <div ng-include="'views/components/footer.html'"></div> -->
