<!-- <div ng-include="'views/components/header.html'"></div>
<div ng-include="'views/components/navbar.html'"></div> -->

<div class="columns page-content">

    <div class="column is-10 is-offset-1" ng-controller="homeCtrl">

      <div class="tile is-ancestor is-vertical">
        <div class="tile is-parent">
          <div class="tile is-7 article is-parent newest" ng-style="{'background-color' : articles[0].color}">
            <div class="article-inset-border"></div>
            <div class="article-cover" ng-style="{'background-image' : 'url(' + articles[0].cover + ')'}"></div>
            <div class="article-date">{{articles[0].created_at | date : dd-mm-yyyy}}</div>
            <div class="article-category">{{articles[0].category.name}}</div>
            <h2 class="article-title has-text-centered">{{articles[0].titre | uppercase}}</h2>
            <a ng-href="#!/articles/{{articles[0].slug}}">
              <button class="button is-primary is-pulled-right article-link">Read article</button>
            </a>
          </div>
          <div class="tile is-5 is-parent is-vertical">
            <div class="tile is-child article">
              <div class="article-inset-border"></div>
              <div class="article-cover" ng-style="{'background-image' : 'url(' + articles[1].cover + ')'}"></div>
              <div class="article-date">{{articles[1].created_at | date : dd-mm-yyyy}}</div>
              <div class="article-category">{{articles[1].category.name}}</div>
              <h2 class="article-title has-text-centered">{{articles[1].titre | uppercase}}</h2>
              <a ng-href="#!/articles/{{articles[1].slug}}">
                <button class="button is-primary is-pulled-right article-link">Read article</button>
              </a>
            </div>
            <div class="tile is-child article">
              <div class="article-inset-border"></div>
              <div class="article-cover" ng-style="{'background-image' : 'url(' + articles[2].cover + ')'}"></div>
              <div class="article-date">{{articles[2].created_at | date : dd-mm-yyyy}}</div>
              <div class="article-category">{{articles[2].category.name}}</div>
              <h2 class="article-title has-text-centered">{{articles[2].titre | uppercase}}</h2>
              <a ng-href="#!/articles/{{articles[2].slug}}">
                <button class="button is-primary is-pulled-right article-link">Read article</button>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child article">
            <div class="article-inset-border"></div>
            <div class="article-cover" ng-style="{'background-image' : 'url(' + articles[3].cover + ')'}"></div>
            <div class="article-date">{{articles[3].created_at | date : dd-mm-yyyy}}</div>
            <div class="article-category">{{articles[3].category.name}}</div>
            <h2 class="article-title has-text-centered">{{articles[3].titre | uppercase}}</h2>
            <a ng-href="#!/articles/{{articles[3].slug}}">
              <button class="button is-primary is-pulled-right article-link">Read article</button>
            </a>
          </div>
        </div>
        <div class="tile is-parent more-articles" ng-if="articlesShown >= 5">
          <div class="tile is-child article">
            <div class="article-inset-border"></div>
            <div class="article-cover" ng-style="{'background-image' : 'url(' + articles[4].cover + ')'}"></div>
            <div class="article-date">{{articles[4].created_at | date : dd-mm-yyyy}}</div>
            <div class="article-category">{{articles[4].category.name}}</div>
            <h2 class="article-title has-text-centered">{{articles[4].titre | uppercase}}</h2>
            <a ng-href="#!/articles/{{articles[4].slug}}">
              <button class="button is-primary is-pulled-right article-link">Read article</button>
            </a>
          </div>
        </div>
        <div class="tile is-parent more-articles" ng-if="articlesShown >= 6">
          <div class="tile is-child article">
            <div class="article-inset-border"></div>
            <div class="article-cover" ng-style="{'background-image' : 'url(' + articles[5].cover + ')'}"></div>
            <div class="article-date">{{articles[5].created_at | date : dd-mm-yyyy}}</div>
            <div class="article-category">{{articles[5].category.name}}</div>
            <h2 class="article-title has-text-centered">{{articles[5].titre | uppercase}}</h2>
            <a ng-href="#!/articles/{{articles[5].slug}}">
              <button class="button is-primary is-pulled-right article-link">Read article</button>
            </a>
          </div>
        </div>
        <div class="tile is-parent more-articles" ng-if="articlesShown >= 7">
          <div class="tile is-child article">
            <div class="article-inset-border"></div>
            <div class="article-cover" ng-style="{'background-image' : 'url(' + articles[6].cover + ')'}"></div>
            <div class="article-date">{{articles[6].created_at | date : dd-mm-yyyy}}</div>
            <div class="article-category">{{articles[6].category.name}}</div>
            <h2 class="article-title has-text-centered">{{articles[6].titre | uppercase}}</h2>
            <a ng-href="#!/articles/{{articles[6].slug}}">
              <button class="button is-primary is-pulled-right article-link">Read article</button>
            </a>
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child more has-text-centered" style="cursor : pointer;">
            <article scroll-bottom>
              <p ng-click="showMoreArticles()" ng-if="articlesShown < 7">Show More</p>
              <a href="#" ng-if="articlesShown >= 7">Older Posts</a>
            </article>
          </div>
        </div>


      </div>
    </div>
    <a id="bottom"></a>

    <!-- <div ng-include="'views/components/menu.html'"></div> -->

</div> <!-- /page-content-->

<!-- <div ng-include="'views/components/footer.html'"></div> -->
