<div ng-include="'views/components/header.html'"></div>
<div ng-include="'views/components/navbar.html'"></div>

<div class="columns content">

    <div class="column is-8 is-offset-2" ng-controller="homeCtrl">
      <div ng-repeat="article in articles" class="article-wrapper">
        <h2>{{article.title}}</h2>
        {{article.content}}
      </div>
    </div>

    <div ng-include="'views/components/menu.html'"></div>

</div>

<div ng-include="'views/components/footer.html'"></div>

<!-- <div ng-controller="homeCtrl">
  <form ng-submit="setOutput()">
    <div style="cursor: pointer; border : solid 1px black; width : 50px;" ng-click="addGras()">gras</div>
    <div style="cursor: pointer; border : solid 1px black; width : 50px;" ng-click="addlink()">link</div>

    <textarea ng-model="post" rows="8" cols="80"></textarea>
    <input type="submit" name="" value="test">
  </form>



  <div ng-bind-html="output"></div>

  </div> -->

</div>
