<div class="admin-section" ng-controller="adminArticlesCtrl">

  <!--success alert-->
  <div class="notification is-success" ng-if="alertSuccess">
    <button class="delete" ng-click="closeAlert()"></button>
    {{successMessage}}
  </div>

  <!--error alert-->
  <div class="notification is-danger" ng-if="alertError">
    <button class="delete" ng-click="closealert()"></button>
    {{errorMessage}}
  </div>

  <!--article comments modal-->
  <div class="modal" ng-class="{'is-active' : seeCommentsModal}">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="modal-confirm">
        <div ng-repeat="c in articleComments" class="columns">
          <div class="column is-2">
            <strong>{{c.author}} : </strong>
          </div>
          <div class="column is-10 has-text-left">
            {{c.content}}
          </div>
        </div>
        <button class="button is-danger" ng-click="seeCommentsModal = false">close</button>
      </div>
    </div>
  </div>

  <!--article delete modal-->
  <div class="modal" ng-class="{'is-active' : articleDeleteConfirm}">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="modal-confirm has-text-centered">
        <div>Do you really wish to delete this article ? It can't be undone after this step.</div>
        <button class="button is-primary" ng-click="deleteArticle(); articleDeleteConfirm = false ">Confirm</button>
        <button class="button is-danger" ng-click="articleDeleteConfirm = false">Cancel</button>
      </div>
    </div>
  </div>

  <h2>Your articles</h2>
  <table class="table is-bordered is-striped">
    <thead>
      <th>Title</th>
      <th>Category</th>
      <th>Tags</th>
      <th>Date</th>
      <th>Last Update</th>
      <th>Comments</th>
      <th>Options</th>
    </thead>
    <tbody>
      <tr ng-repeat="a in articles | orderBy : 'id'">
        <td>{{a.titre}}</td>
        <td>{{a.category.name}}</td>
        <td><div ng-repeat="tag in a.tags">"{{tag.name}}" </div></td>
        <td>{{a.created_at | date : 'mediumDate'}}</td>
        <td>{{a.updated_at | date : 'mediumDate'}}</td>
        <td><span class="table-comments" ng-click="seeComments(a)">{{a.comments.length}} comments</span></td>
        <td>
          <a ng-href="#!/articles/{{a.slug}}"><button class="button is-primary">See</button></a>
          <button class="button is-info">Edit</button>
          <button class="button is-danger" ng-click="confirmDeletion(a)">X</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>New Article</h2>
  <form name="new_article_form">
    <div class="field">
      <label class="label">Title</label>
      <p class="control">
        <input class="input" type="text" ng-model="newArticle.title" required>
      </p>
    </div>

    <div class="field">
      <label class="label">Category</label>
      <p class="control">
        <span class="select">
          <select ng-options="c.name for c in categories" ng-model="newArticle.category" required></select>
        </span>
      </p>
    </div>

    <div class="field">
      <label class="label">Article</label>
      <p class="control">
        <textarea ui-tinymce="tinymceOptions" ng-model="newArticle.html" required></textarea>
      </p>
    </div>

    <div class="field">
      <label class="label">Tags</label>
      <p class="control">
        <input class="input" type="text" ng-model="newArticle.tags" placeholder="add your tags here, separated by a comma">
      </p>
    </div>


    <button class="button is-primary is-marginless" ng-click="addArticle()">Post</button>
  </form>


</div>
