<div class="admin-section" ng-controller="adminCommentsCtrl">

  <!-- error alert -->
  <div class="notification is-danger" ng-if="commentError">
    <button class="delete" ng-click="closeAlert()"></button>
    An error has occured. Please retry later.
  </div>

  <!--comment delete modal-->
  <div class="modal" ng-class="{'is-active' : commentDeleteConfirm}">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="modal-confirm has-text-centered">
        <div>Do you really wish to delete this comment ? It can't be undone after this step.</div>
        <button class="button is-primary" ng-click="deleteComment(); commentDeleteConfirm = false ">Confirm</button>
        <button class="button is-danger" ng-click="commentDeleteConfirm = false">Cancel</button>
      </div>
    </div>
  </div>


  <h2>New Comments</h2>
  <table class="table is-bordered is-striped">
    <thead>
      <th>Author</th>
      <th>Article</th>
      <th>Content</th>
      <th>Date</th>
      <th>Options</th>
    </thead>
    <tbody>
      <tr ng-repeat="c in unreadComments | orderBy : '-created_at'">
        <td>{{c.author}}</td>
        <td>
          <a ng-href="#!/articles/{{c.article.slug}}">{{c.article.titre}}</a>
        </td>
        <td>{{c.content}}</td>
        <td>{{c.created_at | date : 'MMM d, HH:mm '}}</td>
        <td>
          <button class="button is-primary" ng-click="markAsRead(c)">Mark as read</button>
          <button class="button is-info">Edit</button>
          <button class="button is-danger" ng-click="confirmDeletion(c)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-if="unreadComments.length==0">There are no new comments.</div>

  <h2>All Comments</h2>
  <table class="table is-bordered is-striped">
    <thead>
      <th>Author</th>
      <th>Article</th>
      <th>Content</th>
      <th>Date</th>
      <th>Options</th>
    </thead>
    <tbody>
      <tr ng-repeat="c in comments | orderBy : '-created_at'">
        <td>{{c.author}}</td>
        <td>
          <a ng-href="#!/articles/{{c.article.slug}}">{{c.article.titre}}</a>
        </td>
        <td>{{c.content}}</td>
        <td>{{c.created_at | date : 'MMM d, HH:mm '}}</td>
        <td>
          <button class="button is-info">Edit</button>
          <button class="button is-danger" ng-click="confirmDeletion(c)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
