<header class="header has-text-centered">
  <div class="header-bg"></div>
  <div class="header-title-wrapper">
    <div class="title-clip">
      <h1>DARIA BEATS JESUS.</h1>
      <h2>When an idiot tries to blog</h2>
    </div>
    <span class="header-title-border-top1"></span>
    <span class="header-title-border-top2"></span>
    <span class="header-title-border-right"></span>
    <span class="header-title-border-bottom"></span>
    <span class="header-title-border-left"></span>
  </div>
</header>
