<nav class="blog-navbar">
  <div class="blog-navbar-btn">
    <a href="#!/" class="blog-navbar-item selected">Home</a>
  </div>

  <div class="blog-navbar-btn">
  <a href="#!/admin" class="blog-navbar-item">About</a>
  </div>

  <div class="blog-navbar-btn">
    <div class="blog-navbar-item">Browse</div>
    <div class="blog-navbar-dropdown">
      <div>
        <a href="#!/articles/browse/categories">By category</a>
      </div>
      <div>
        <a href="#!/articles/browse/tags">By tags</a>
      </div>
      <div>
        <a href="#!/articles/browse/date">By date</a>
      </div>
    </div>
  </div>

  <div class="blog-navbar-btn">
    <a href="#!/admin" class="blog-navbar-item">Contact</a>
  </div>
</nav>
