<nav class="blog-navbar">
  <div class="blog-navbar-btn">
    <a href="#!/" class="blog-navbar-item selected">Home</a>
  </div>

  <div class="blog-navbar-btn">
  <a href="#!/admin" class="blog-navbar-item">About</a>
  </div>

  <div class="blog-navbar-btn">
    <div class="blog-navbar-item">Browse</div>
    <div class="">
      By categories
    </div>
    <div class="">
      By tags
    </div>
  </div>

  <div class="blog-navbar-btn">
    <a href="#!/admin" class="blog-navbar-item">Archives</a>
  </div>

  <div class="blog-navbar-btn">
    <a href="#!/admin" class="blog-navbar-item">Contact</a>
  </div>
</nav>
