
.previous
  transform: rotateY(180DEG)

.viewed-article-content
  padding: 10px

  .category
    padding: 10px
    background-color: $info
    color: $white

  .navigation-wrapper
    display: flex
    align-items: flex-start
    justify-content: center
    font-size: 1.2em
    padding: 15px

  .navigation-link
    padding: 5px 10px
    border-radius: 5px
    color: $white
    background-color: $primary
    margin: 5px

  h2
    margin-bottom: 30px

  .tags
    display: flex
    flex-direction: row
    align-items: flex-end
    flex-wrap: wrap
    margin-bottom: 15px

  .tag
    margin-left: 5px
    margin-right: 5px

  .comment
    border: 1px solid $grey-light
    border-radius: 10px
    padding: 5px 30px
    width: 80%
    margin: 15px auto
    background-color: $white

  .comment-title
    color: $primary
    margin-bottom: 15px
    span
      font-weight: bold

  .isAdmin
    color: $danger

  .comment-form
    margin-top: 40px

  .input-small
    width: 25%

.page-content .content
  margin-top: 25px
