.blog-navbar
  padding: 10px
  margin-bottom: 30px
  color: $primary
  display: flex
  flex-direction: row
  justify-content: space-around
  perspective: 800px
  border-top: 1px solid #bbb
  border-bottom: 1px solid #bbb
  position: relative
  z-index: 10

.blog-navbar-item
  font-family: $font1
  color: $grey-dark
  font-size: 1.1em
  transition: all 0.5s
  padding: 5px 15px
  &:hover
    transform: rotateY(180DEG)
    color: $black-ter

.blog-navbar-item.selected
  border-bottom: 2px solid $primary
  color: $black-ter

.blog-navbar-btn
  background-color: $white-bis
  position: relative
  z-index: 15
